<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
</head>
<body>
    <h2>Usename: <%= user.username %></h2>
    <form method="post" action="http://localhost:3000/user/<%= user.id %>?_method=DELETE">
        Email: <input type="email" name="email" placeholder="Enter your email" >
        Password: <input type="password" name="password" placeholder="Enter your password">
        <p>Conform</p>
        <button>Delete</button>
    </form>
</body>
</html>